[Unit]
Description=Kids Friendly Music Box based on NFC Tags

[Service]
Type=simple
WorkingDirectory=/opt/musicbox
ExecStart=python3 -u /opt/musicbox/src/main.py
Restart=on-failure

[Install]
WantedBy=default.target
